@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
  padding: 0;
  margin: 0;
}

.grid {
  margin-top: 0;
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 1200px;
  margin-left: 70px;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

h2,
p {
  text-align: center;
  font-family: 'Sriracha', cursive;
  color: #FF334C;
  font-size: 2em;
  font-weight: 700px;
  margin: 0;
  padding: 0;
}


.ou1 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}